<html>
<head>
<title>Resultados</title>
<style>
body {
  text-align:center;;
};
</style>
</head>
<body>
<form method="POST" enctype="multipart/form-data">
Archivo 1 <input type="file" name="file1">  Archivo 2 <input type="file" name="file2">  <button type="submit">Enviar</button>
</form>

<% @df1a2.sort_by{rand}.each do |row| %>
<span style="font-size:<%= row[1][:freq_diff]*8 %>px"><%= row[0] %></span>
<% end %>

<!-- <div class="wordcloud">
<% @df2a1.sort_by{rand}.each do |row| %>
<span style="font-size:<%= row[1][:freq_diff] %>px"><%= row[0] %></span>
<% end %>
</div> -->

</body>
</html>
