<style>
  body {text-align:center;}
</style>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11840444-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<body>
<form method="POST" enctype="multipart/form-data">
Archivo 1 <input type="file" name="file1"> 
Archivo 2 <input type="file" name="file2"> 
<button type="submit">Enviar</button>
</form>
</body>
